################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.user
packages
_ReSharper.*
bin
obj
node_modules

